<div style="background-image: url(<%= asset_url 'bg-desktop-dark.jpg' %>); 
            height: 30vh; position: absolute; 
            top: 0; right: 0; left: 0; 
            width: 112%; z-index: -1;">  
</div>